@charset "utf-8";
/*
Theme Name: TESORERIA TGR REMATES
Theme URI: http://www.avispaweb.com/
Author: Marcela Godoy
Author URI: http://www.avispaweb.com/
Description:  AVISPAWEB THEME - DESARROLLADO CON BOOSTRAP
Version: 2.0

@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans|Open+Sans+Condensed:300|Raleway');

    font-family: 'Open Sans', sans-serif;

    font-family: 'Open Sans Condensed', sans-serif;

    font-family: 'Droid Sans', sans-serif;
font-family: 'Raleway', sans-serif;
amarillo #ffcd00
 */
* {
3	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: #ffffff;
	color: #101820;
	overflow-x: hidden;
	font-size: 15px;
}
.container {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	cursor: pointer;
}
.full {
	width: 100%;
}
section {
	position: relative;
	/**padding-top: 50px;margin-bottom: 100px;*/
	padding-bottom: 100px;
}
.space-top {
	padding-top: 50px;
}
.navbar-brand {
  
 height: 100px;  
}
#bs-example-navbar-collapse-1{margin-top: 2%;}
.btn-primary:focus, .btn-primary:hover{     background-color: #337ab7;   background-position: 0 0px;}
footer{margin-top: 50px;}
.post-meta{     display: flex;}
.m-top-0{margin-top: 0;}
#fullDPS, #corpInfo {
    width: 100%;
    background-color: rgba(0,0,0,0) !important;
}
#corpInfo>nav>ul>li {

     min-height: auto !important;
    padding: 20px 5px  !important;

}
.bg-danger{ background-color: #b10925; color: #ffffff; }
.texto-home{ width: 100%; height: 100%; }
.texto-home h3{     width: 100%; height: 100%; background-color: #337ab7; color: #fff; text-transform: uppercase; font-size: 1.5rem; padding: 7px 10px; }